* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

ul ol li {
  list-style: none;
}

button {
  all: unset;
}

/* 메인 */
body {
  background: rgb(241,245,239);
background: linear-gradient(90deg, rgba(241,245,239,1) 0%, rgba(148,241,206,1) 35%, rgba(234,242,143,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

#photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 5px rgb(228, 233, 190);
  box-shadow: 1px 3px 15px gray;
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 0px;
  box-shadow: 2px 5px 20px gray;
}

main h1 {
  margin-bottom: 30px;
}

main .row {
  display: flex;
}

main .box {
  background-color: RGB(197, 241, 169);
  width: 90px;
  height: 90px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 5px lightslategray;
  border-radius: 5px;
  transition: background-color 0.3s linear;
}

main .box:hover {
  transform: scale(1.1);
  background-color: rgb(209, 249, 236)
}

main .box:active {
  transform: scale(1);
}

main .box p {
  font-size: 1.5rem;
  margin: 0 10px;
  font-weight: bold;
}

main input {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: rgb(123, 149, 106);
  margin: 5px 0;
  padding: 5px 0;
}

.big {
  background-color: aliceblue;
  padding: 20px 50px;
  border: solid 2px silver;
  box-shadow: 1px 1px 5px lightslategray;
  display: flex;
  justify-content: space-between;
  width: 60%;
  border-radius: 10px;
  margin-bottom: 40px;
}

.big .content {
  width: 60%;
}

.big h2 {
  font-size: 5rem;
}

.big hr {
  margin: 1rem 0;
}

.big p {
  font-size: 2rem;
  margin-top: 1rem;
}

.big img {
  width: 30%;
  height: 30rem;
}

.big a {
  font-weight: bold;
  color: rgb(122, 122, 255)
}


/* hidden */
body .hidden {
  display: none;
}